
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
#item1{
	width:80px;
	height:80px;
	background-color:green;
	flex-wrap:wrap;
	
}
#item2{
	width:80px;
	height:80px;
	background-color:red;
	
}
#item3{
	width:80px;
	height:80px;
	background-color:blue;
	
}
